<br></br>
<% if @user.errors.any? %>
  <ul class="errors">
    <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>

<div class="container">
  <div class="vertical-center-row">
    <div align="center">
      <h3>Sign Up</h3>
      <%= form_tag "/users" do %>
        <p>
            <%= label_tag :* %>
            <%= label_tag :name %>

            <%= text_field_tag :name %>
        </p>

        <p>
            <%= label_tag :* %>
            <%= label_tag :email %>
            <%= text_field_tag :email %>
        </p>

        <p>
            <%= label_tag :photo_URL %>
            <%= text_field_tag :photo_url %>
        </p>

        <p>
            <%= label_tag :* %>
            <%= label_tag :password %>
            <%= password_field_tag :password %>
        </p>

          <%= submit_tag "Sign Me Up!" %>
          <% end %>

    </div>
  </div>
</div>



