<br></br>
<%= tinymce_assets %>
<%= form_tag "/posts" do %>
  <p>
  <label>Title:</label> <input name="title" size=30>
  <label>Date:</label> <%= Time.now %>
  </p>
  	<%= tinymce %>
  	<%= text_area_tag :body, "", :class => "tinymce", :rows => 100, :cols => 80 %>
  	
  <p><button>Submit</button></p>
  
<% end %>
