<%= tinymce_assets %>
<div class="well">
	<div class="row">
		<div class="col-md-1">
			<% if session["user_id"].present? %>
				<p>
					<% if session["user_id"].to_i.equal?(@post.user_id) %>
						<span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>					
						<span class="glyphicon-class"><%= link_to "Edit", edit_post_url(@post.id) %></span> 
					<% end %>
				</p>
			<% end %>
			<p>
				<span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
				<span class="glyphicon-class"><%= link_to "Back", posts_url %></span>
			</p>
		</div>
		<div class="col-md-7">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title"><%= link_to @post.title, post_url(@post.id),  :method => 'get' %></h3>
                    <h6><%= link_to User.find_by(:id => @post.user_id).user_name, user_url(@post.user_id) %></h6>
                    <h6><%= @post.date %></h6>
					<% if session["user_id"].to_i.equal?(@post.user_id) %>
						<h5><p><%= link_to "(delete)", post_url(@post.id), :method => 'delete' %></p></h5>
					<% end %>
				</div>
				<div class="panel-body"><%= simple_format(@post.body) %></div>
			</div>
		</div>
		<div class="col-md-4"></div>
	</div>
	
<ul>
 <label>Categories:</label><% @post.categories.pluck(:category_name).each do |category| %>
 	<%= category %> 
 <% end %>
</ul>

<% if session["user_id"].to_i.equal?(@post.user_id) %>	
	<ul>
 		<%= form_tag "/mappings", :method => 'post' do %>
		<% Category.all.each do |category| %>
			<%= check_box_tag 'category_ids[]', category.id %><%= category.category_name %>
			<input type="hidden" name="post_id" value="<%= @post.id %>">
		<% end %>
		<button>Add Categories</button>
 	<% end %> 
	</ul>
<% end %>

<h3 style="clear:both; margin-top: 25px">Comments</h3>
 <%= form_tag "/comments", :method => 'post' do %>

      <%= text_area_tag :body, "", :class => "tinymce", :rows => 10, :cols => 80 %>
      <%= tinymce %>
      <input type="hidden" name="user_id" value="<%= @user_id %>">
      <input type="hidden" name="post_id" value="<%= @post.id %>">

  <p></p><button>Submit</button></p>
<% end %>

<br></br>
	<div class="col-md-7">
		<ul class="list-group">
			<% Comment.where(post_id: @post.id).order('date').each do |comment| %>
			    <li href="#" class="list-group-item">
					<h4 class="list-group-item-heading"><%= User.where(:id=>comment.user_id).pluck("user_name")[0] %></h4>
					<h6 class="list-group-item-heading"><%= comment.date %></h6>
					<p class="list-group-item-text"><%= comment.body %></p>
				</li>
			<% end %>
		</ul>
	</div>
	<div class="col-md-4"></div>
</div>

</div>
<p></p>