<!DOCTYPE html>
<html>
<head>
  <title>Final</title>
  <style>
  body {
	  padding-top: 45px;
  }
  </style>
  <%= stylesheet_link_tag "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css"%>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
    <% if notice.present? %>
      <div class="alert alert-info"%>
        <%= notice %>
      </div>
    <% end %>

    <nav class="navbar navbar-default navbar-fixed-top">
		<div class="navbar-collapse collapse">

	    <% if session["user_id"].present? %>
		    <a class="navbar-brand" href="/">
		        <%= image_tag("cat.png", :alt => "Brand")%>
            </a>

            <ul class ="nav navbar-nav <%= @page_id == "posts" ? "active" : "" %>">
				<%= link_to ("WELCOME, " + User.find_by(id: session["user_id"]).user_name), posts_user_url(id: session["user_id"]),:class=>"navbar-brand changeFontBig"%>
            </ul>

            <% if @user.nil? or session["user_id"].to_i.equal?(@user.id)  %>
                <ul class ="nav navbar-nav <%= @page_id == "profile" ? "active" : "" %>">
                    <%= link_to "MY PROFILE", user_url(User.find_by(id: session["user_id"])), :class=>"navbar-brand changeFont" %>
                </ul>
            <% else %>
                <ul class ="nav navbar-nav">
                    <%= link_to "MY PROFILE", user_url(User.find_by(id: session["user_id"])), :class=>"navbar-brand changeFont" %>
                </ul>
            <% end %>

            <ul class ="nav navbar-nav <%= @page_id == "friends_posts" ? "active" : "" %>">
              <%= link_to "FRIENDS' MEOWS", meows_user_url(id: session["user_id"]), :class=>"navbar-brand changeFont" %>
            </ul>

            <ul class="nav navbar-nav changeFont">
                <%= link_to "Sign Out", '/signout', :class => "navbar-brand changeFont"%>
            </ul>

            <ul class="nav navbar-nav"></ul>
                <%= form_tag posts_url, :method => "get", :class => "navbar-form navbar-right" do %>
                  <div class="form-group">
                    <%= text_field_tag :keyword %>
                  </div>
                   <%= submit_tag "Search", :class =>"btn btn-default" %>
                <% end %>
            </ul>

	    <% else %>
		    <a class="navbar-brand">
		        <%= image_tag("cat.png", :alt => "Brand")%>
				<%= link_to "MEOW Blog", '/', :class => "navbar-brand changeFontBig" %>
		    </a>

            <ul class ="nav navbar-nav changeFont">
				<%= link_to "Sign Up", '/signup', :class => "navbar-brand changeFont"%>
             </ul>

            <ul class ="nav navbar-nav changeFont">
				<%= link_to link_to "Sign In", '/login', :class => "navbar-brand changeFont"%>
			</ul>
          <% end %>
    </div>
	</nav>
<%= yield %>
</body>
</html>